@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

html {
  height: 100%;
}
body {
  min-height: 100vh;
}
main {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
footer {
  background: #212529;
}

#root {
  min-height: 100vh;
  background: #212529;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

hr {
  /* for chrome and safari */
  border-color: #f1f3f524;

  /* for firefox and opera */
  background-color: #f1f3f524;

  /* for ie7 */
  color: #f1f3f524;

  margin: 16px 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.col {
  width: 33.3%;
}

@media (max-width: 576px) {
  .col {
    width: 100%;
  }
  .container {
    width: 400px;
  }
  .row {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
